---
layout: home
---

<section>
	<div class="hero">
		<div class = "browsers animated fadeInUp">
		  <div class="browser-img">
		  	<!--<img src="{{ site.baseurl }}/assets/img/browser-2.svg">-->
		  </div>
		</div>
		<div class="cover">
			<div class="intro-text space padding-side wow fadeIn">
			  <h2 class="responsive-font">{{ site.title }}</h2>
			  <p class="">{{ site.description }}</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="iconbar space">
		<div class="wrapper">
			<div class="icons-list">
				{% for iconslist in site.data.settings.iconslist %}
				<div class="icon-item wow bounceIn" data-wow-delay="{{ iconslist.delay }}"><i class="{{ iconslist.icon }} f-icons"></i><span class="title">{{ iconslist.name }}</span></div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>


<section>
	<div class="wrapper space">
		<div class="grid-items-lines wow zoomIn" data-wow-delay=".20s">
			{% for grideitems in site.data.settings.grideitems %}
		  <a href="{{ site.baseurl }}{{ grideitems.link }}" class="{{ grideitems.class }} btn">
		    <img src="{{ site.baseurl }}{{ grideitems.img }}" alt="{{ grideitems.img }}">
		    <h4>{{ grideitems.name }}</h4>
		    <p>{{ grideitems.infor }}</p>
		  </a>
		  {% endfor %}
		  <div class="right-cover"></div>
		  <div class="bottom-cover"></div>
		</div>
	</div>
</section>


<section id="testimonial" class="space">
	<div class="cd-testimonials-wrapper cd-container">
	<ul class="cd-testimonials">
		{% for testimonials in site.data.settings.testimonials %}
		<li>
			<p>{{ testimonials.content }}</p>
			<div class="cd-author">
				<img src="{{ site.baseurl }}/assets/img/face/{{ testimonials.img }}.jpg" alt="Author image">
				<ul class="cd-author-info">
					<li>{{ testimonials.name }}</li>
					<li>{{ testimonials.jobtitle }}</li>
				</ul>
			</div>
		</li>
		{% endfor %}		
	</ul> <!-- cd-testimonials -->

	<a href="#0" class="cd-see-all btn">See all</a>
</div> <!-- cd-testimonials-wrapper -->

<div class="cd-testimonials-all">
	<div class="cd-testimonials-all-wrapper">
		<ul>
		{% for testimonials in site.data.settings.testimonials %}
			<li class="cd-testimonials-item">
				<p>{{ testimonials.content }}</p>
				
				<div class="cd-author">
					<img src="{{ site.baseurl }}/assets/img/face/{{ testimonials.img }}.jpg" alt="Author image">
					<ul class="cd-author-info">
						<li>{{ testimonials.name }}</li>
						<li>{{ testimonials.jobtitle }}</li>
					</ul>
				</div> <!-- cd-author -->
			</li>
			{% endfor %}
		</ul>
	</div>	<!-- cd-testimonials-all-wrapper -->

	<a href="#0" class="close-btn">Close</a>
</div> <!-- cd-testimonials-all -->
</section>














