<footer class="footer">
    <div class="footer-logo">
      <img src="{{ site.baseurl }}{{ site:logo }}" alt="">
    </div>
    <div class="footer-links">
      <ul>
        {% for content in site.data.settings.content %}
        <li><h3>{{ content.h3 }}</h3></li>
        <li><a href="{{ site.baseurl }}{{ content.link }}">{{ content.name }}</a></li>
        {% endfor %}
      </ul>
      <ul>
        {% for followus in site.data.settings.followus %}
        <li><h3>{{ followus.h3 }}</h3></li>
        <li><a href="{{ site.baseurl }}{{ followus.link }}">{{ followus.name }}</a></li>
        {% endfor %}
      </ul>
      <ul>
        {% for legal in site.data.settings.legal %}
        <li><h3>{{ legal.h3 }}</h3></li>
        <li><a href="{{ site.baseurl }}{{ legal.link }}">{{ legal.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <hr>

    <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
  </footer>


  <script src="{{ site.baseurl }}/assets/js/jquery-2.1.1.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/wow.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/ripple.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.fittext.js"></script>
  <script src="{{ site.baseurl }}/assets/js/functions.js" type="text/javascript"></script>
  <script>
    new WOW().init();
    jQuery(".responsive-font").fitText();
  </script>
</body>
</html>