$browser-top-bar-height: 1.5em;
$browser-circle-size: .5em; 
$browser-circle-margin: ($browser-top-bar-height - $browser-circle-size) / 2;
$browser-top-bar-background: lighten(#DFDFDF, 5);
$browser-border: 0px;
$browser-background: $base-background-color;
$browser-content-background-1: #3498db;
$browser-content-background-2: #e74c3c;
$browser-content-background-3: #2ecc71;

.browsers {
  //display:inline-block;
  padding-top: 0;
  text-align:center;
  margin: 0 auto;
  width: 80%;


  @include media($small-screen) {
    padding-top: 50em;
  }

  @include media($large-screen) {
    //padding-top: 25em;
  }
}

.browser-img {
  margin-bottom: -75px;
}
//////////////////////////////////////////////

.cover {
  background: $bg-color;
  border-top: 1px solid #E6E6E6;
  //height: 3.2em;
  margin-top: -1em;
  position: relative;
  width: 100%;
  z-index: 999;
}
 
