.hero {
  $hero-background-top: darken($base-accent-color, 25); 
  $hero-background-bottom: adjust-hue($hero-background-top, -70);
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '../img/bg-2.jpg';

  //@include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background: url($hero-image);
  background-color: #34495e;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  @include transition (all .5s ease-in-out);

  h1 {
    background: rgba(255, 255, 255, 0.72);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
  }  
}
 
.icons-list {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-around);
  text-align: center;

  .icon-item {
    @include flex(1);

    .f-icons {
      color: $accent-color;
      background: #fff;
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      //cursor: pointer;
      line-height: 1.8em;
      @include transition (all .3s ease-in-out);

      @include media($small-screen) {
        @include size(75px);
      }

      @include media($large-screen) {
        @include size(150px);
      }

    }

    span {
      display: block;
      color: #fff;
      padding: 15px;
      font-size: 130%;
      font-style: italic;
      text-shadow: 0 0 5px #000;
      text-transform: uppercase;

      @include media($small-screen) {
        display: none;
      }

      @include media($large-screen) {
        display: block;
      }

    }
  }
}


