.hero {
  $hero-background-top: darken($base-accent-color, 25); 
  $hero-background-bottom: adjust-hue($hero-background-top, -70);
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '../img/bg-2.jpg';

  //@include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background: url($hero-image);
  background-color: #34495e;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  @include transition (all .5s ease-in-out);

  h1 {
    background: rgba(255, 255, 255, 0.72);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
  }

  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    button {
      @include button(simple, $base-background-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      text-align: center;
      
      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 3em; 
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
 
.icons-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .icon-item {
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    @include transition (all .5s ease-in-out);

    @include media($small-screen) {
      width: 75px;
      height: 75px;
      padding: 7px;
    }

    @include media($large-screen) {
      width: 150px;
      height: 150px;
      padding: 5px;
    }

    &:hover {
      //background: transparent;
      @include transform(scale(1.2));
    }

    i {
      color: $accent-color;
    }

    span {
      display: block;
      color: #fff;
      padding: 15px;
      font-size: 130%;
      font-style: italic;
      text-shadow: 0 0 5px #000;
      text-transform: uppercase;

      @include media($small-screen) {
        display: none;
      }

      @include media($large-screen) {
        display: block;
      }

    }
  }
}