---
layout: default
---
</div>
<div class="hero">
  <div class="wrapper space padding-side">
    <h1 class="post-title">{{ page.title }}</h1>
  </div>   
</div>
<div class="wrapper space">

<div class="post padding-side">

  <header class="post-header">
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
